<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ad. Repellat omnis, atque deserunt ab dignissimos vero odio libero, pariatur perferendis dolores quisquam sint iure velit qui perspiciatis incidunt possimus.</p>
  </div>
</div>


