<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">New Note</h4>
        </div>
        <div class="card-body">  
            <form action="new-note" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" cols="30" rows="6" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
