<div class="row">
{{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between">{{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                <p class="card-text">{{description}}</p>
                <form action="/notes/delete-note/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
                </form>
            </div>
        </div>
    </div>
{{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Welcome!</h1>
            <p class="lead">There are not notes yet.</p>
            <a href="/notes/add" class="btn btn-success btn-block">Create a note</a>
        </div>
    </div>
{{/each}}
</div>

