{{#each note}}
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Edit Note</h4>
        </div>
        <div class="card-body">  
            <form action="/notes/edit-note/{{_id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title" autofocus value="{{title}}">
                </div>
                <div class="form-group">
                    <textarea name="description" cols="30" rows="6" class="form-control">{{description}}</textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/each}}