<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4 text-center">
          Account Login
        </h1>
      </div>
      <div class="card-body">
        <form action="/users/signin" method="POST">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="pass" placeholder="Password">
          </div>
          <button class="btn btn-primary btn-block">
            Sign in 
          </button>
        </form>
      </div>
    </div>
  </div>
</div>