<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Account Register</h4>
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" value="{{ username }}" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" value="{{ email }}">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter your password" value="{{ pass }}">
                    </div>
                    <div class="form-group">
                        <label for="confirmpass">Confirm password</label>
                        <input type="password" class="form-control" id="confirmpass" name="confirmpass" placeholder="Confirm your password" value="{{ confirmpass }}">
                    </div>
                    <button class="btn btn-primary btn-block">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>